
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyLayout</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>



    <style>
        .nav-link {
            margin-left: 20px;
            color: white;
        }

        #search {
            width: 250px;
        }
    </style>
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse" style="overflow-x:hidden; display:block;overflow:hidden;">
            <div class="col-md-4">
                <div class="navbar-header">
                    <a href="" class="navbar-brand">SCode</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/Customer/Create" id="hide">Add Customer</a></li>
                    <li><a href="/Customer/Index" id="show">Customer</a></li>

                </ul>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-3">
                <div id="bar">
                    <div class="col-md-12" style="margin-top:8px">
                        <input type="text" class="form-control" placeholder="Search" autocomplete="off" name="search" id="search" />
                    </div>
                </div>
            </div>

        </nav>
        <div class="col-md-12" style="margin:0%;padding:0%;display:block;overflow-x:hidden;overflow-y:scroll;height:calc(100vh-64px);width:100%;">
            @RenderBody()
        </div>
    </div>
</body>
</html>
